<div class="container">
    <main>
        <h3>//Hear from our clients...</h3>
        <section id="testim" class="testim">
            <div class="testim-cover">
                <div class="wrap">

                    <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                    <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                    <ul id="testim-dots" class="dots">
                        <li class="dot active"></li>
                        <!--
                        -->
                        <li class="dot"></li>
                        <!--
                        -->
                        <li class="dot"></li>
                        <!--
                        -->
                        <li class="dot"></li>
                        <!--
                        -->
                        <li class="dot"></li>
                    </ul>
                    <div id="testim-content" class="cont">

                        <div class="active">

                            <p><span>"</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.<span>"</span></p>
                        </div>

                        <div>

                            <p><span>"</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.<span>"</span></p>
                        </div>

                        <div>

                            <p><span>"</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.<span>"</span></p>
                        </div>

                        <div>

                            <p><span>"</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.<span>"</span></p>
                        </div>

                        <div>

                            <p><span>"</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.<span>"</span></p>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </main>
</div>