<nav>
    <a href="/">
        <div class="logo">

            <img src="/img/Logo_PNG_Noir.png" alt="">

            <h1>Welcome to Desvaux-Henault Brendon Freelancer</h1>

        </div>
    </a>
    <ul>
        <li><a href="#serv">Services</a></li>
        <li><a href="#proj">Projects</a></li>
        <li><a href="#form">Contact</a></li>
    </ul>
</nav>