<section id="proj">
    <main>
        <h3>//Projects</h3>

        <div class="img-cont">
            <div class="image-container">
                <img src="/img/inklink.PNG" alt="Votre image">
                <div class="overlay">
                    <button class="centered-button">Discover</button>
                </div>
            </div>
            <div class="image-container">
                <img src="/img/cvexp.PNG" alt="Votre image">
                <div class="overlay">
                    <button class="centered-button">Discover</button>
                </div>
            </div>
            <div class="image-container">
                <img src="/img/asc.PNG" alt="Votre image">
                <div class="overlay">
                    <button class="centered-button">Discover</button>
                </div>
            </div>
            <div class="image-container">
                <img src="/img/limit.PNG" alt="Votre image">
                <div class="overlay">
                    <button class="centered-button">Discover</button>
                </div>
            </div>
        </div>
        <div class="viewmore">
            <a href="/projects"><button>View More</button></a>
        </div>
    </main>
</section>