<section id="serv">
    <main>
        <h3>//Our Services</h3>
        <div class="serv">
            <a href="">
                <div>
                    <i class="fa fa-solid fa-file-code"></i>
                    <span>low code/No code solutions</span>
                </div>
            </a>
            <a href="">
                <div>
                    <i class="fa fa-solid fa-code"></i>
                    <span>SQL/NoSQL Databases solutions</span>
                </div>
            </a>
            <a href="">
                <div>
                    <i class="fa fa-solid fa-code-branch"></i>
                    <span>Web development instructor</span>
                </div>
            </a>
        </div>
    </main>
</section>