<section class="yoe">
    <div>
        <p>10+</p>
        <span>Projects completed</span>
    </div>
    <div>
        <p>5+</p>
        <span>Years of experiences</span>
    </div>
    <div>
        <p>2</p>
        <span>Work in progress projects</span>
    </div>
    <div>
        <p>10+</p>
        <span>Clients satisfied</span>
    </div>
</section>