<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-H-B Projects</title>
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="/js/script.js" defer></script>
</head>

<body>
    <%- include('../index/navbar.ejs') %>
        <main>
            <div class="topLayer">
                <div class="imgProfile">
                    <img src="https://avatars.githubusercontent.com/u/78964703?v=4" alt="Profile Picture">
                </div>
                <div class="infosProfile">
                    <h1>Desvaux Henault Brendon</h1>
                    <h2>Vierzon, France <img width="48" height="48" src="https://img.icons8.com/color/48/france.png" alt="france" /></h2>
                    <div class="projCon">
                        <p><span>X</span> Projects</p>
                        <p><span>X</span> Projects</p>
                    </div>
                    <div class="buttonsProfile">
                        <button>Connect</button>
                        <button>Contact</button>
                    </div>
                </div>
            </div>
            <div class="midLayer">
                <div class="projects">
                    <img src="/img/limit.PNG" alt="">
                    <img src="/img/limit.PNG" alt="">
                    <img src="/img/limit.PNG" alt="">
                    <img src="/img/limit.PNG" alt="">
                    <img src="/img/limit.PNG" alt="">
                    <img src="/img/limit.PNG" alt="">
                    <img src="/img/limit.PNG" alt="">
                    <img src="/img/limit.PNG" alt="">
                    <img src="/img/limit.PNG" alt="">
                    <img src="/img/limit.PNG" alt="">
                    <img src="/img/limit.PNG" alt="">
                </div>
                <div class="showMore">
                    <button id="sm" onclick="showMore()">Show More</button>
                </div>
            </div>
        </main>
        <%- include('../index/footer.ejs') %>
</body>

</html>